astroalign==2.0.1
astropy==4.2.1
astropy-healpix==0.5
astroquery==0.3.10
astroscrappy==1.0.8
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.2
boto3==1.17.81
botocore==1.20.81
ccdproc==2.1.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cloudpickle==1.4.0
cryptography==2.8
cycler==0.10.0
Cython==0.29.14
dask==2.15.0
DateTime==4.3
decorator==4.4.1
h5py==2.10.0
html5lib==1.0.1
idna==2.8
imageio==2.6.1
importlib-metadata==1.4.0
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.17.0
jeepney==0.4.2
jmespath==0.10.0
keyring==21.1.0
kiwisolver==1.1.0
matplotlib==3.1.2
more-itertools==8.1.0
networkx==2.4
numpy==1.22.0
opencv-python==4.1.2.30
packaging==20.0
parso==0.7.0
pexpect==4.8.0
photutils==1.1.0
pickleshare==0.7.5
Pillow==7.0.0
pluggy==0.13.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
py==1.8.1
pycparser==2.19
pyDANDIA==0.1
pyerfa==2.0.0
Pygments==2.6.1
pyparsing==2.4.6
pySLALIB==1.0.4
pystackreg==0.2.2
pytest==5.3.3
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
reproject==0.6
requests==2.22.0
s3transfer==0.4.2
scikit-image==0.18.0
scipy==1.4.1
SecretStorage==3.1.2
sep==1.0.3
six==1.14.0
soupsieve==1.9.5
tifffile==2021.4.8
toolz==0.10.0
tqdm==4.41.1
traitlets==4.3.3
uncertainties==3.1.2
urllib3==1.25.7
wcwidth==0.1.8
webencodings==0.5.1
zipp==1.0.0
zope.interface==4.7.1
