pytest
numpy==1.20.3
astropy
scipy
datetime
matplotlib
photutils
#opencv-python
Cython
astroquery==0.4.6
scikit-image==0.18
ccdproc
setuptools
uncertainties
pystackreg
astroalign
psutil
seaborn
pillow>=9.0.1
boto3
h5py
jplephem==2.21