pytest
numpy==1.16.4
astropy
scipy
datetime
matplotlib
photutils
opencv-python
Cython
astroquery==0.4
scikit-image==0.18
ccdproc
setuptools
pyslalib
uncertainties
pystackreg
astroalign
psutil
pillow>=8.1.1
